<div id="vcomments"></div>
<script src='//unpkg.com/@waline/client@v2/dist/waline.js'></script>
<link href='//unpkg.com/@waline/client@v2/dist/waline.css' rel='stylesheet' />
<script>
  Waline.init({
    el: '#vcomments' ,
    locale: {
      placeholder: '请注意评论礼仪，发布攻击性、无意义内容将会视为垃圾评论进行删除处理。',
      nick: '昵称*'
    },
    serverURL: '{{ .Site.Params.waline.ServerURL }}',
    emoji: [
      '//unpkg.com/@waline/emojis@1.1.0/alus',
      '//unpkg.com/@waline/emojis@1.1.0/tieba'
    ],
    lang: '{{ .Site.Params.waline.Lang }}',
    meta: '{{ .Site.Params.waline.Meta }}',
    requiredMeta: '{{ .Site.Params.waline.RequiredMeta }}',
    login: '{{ .Site.Params.waline.Login }}',
    pageSize: '{{ .Site.Params.waline.PageSize }}',
    highlighter: '{{ .Site.Params.waline.Highlighter }}'
  });
</script>
