.theme__dark #container {
    color: rgba(255, 255, 255, 0.86);
    background-color: #181c27;
}

.theme__dark .wrapper {
    background-color: #252D38;
}

.theme__dark .footer {
    color: #bdbdbd;
    background-color: #2d333c;
}

.theme__dark .taxo-root {
    background-color: #252D38 !important;
}

.theme__dark a {
    color: rgb(138, 162, 211);
    text-decoration: none;
}

.theme__dark .title a {
    color: rgb(138, 162, 211) !important;
}

.theme__dark .summary-classic .title a:hover, .theme__dark .summary-classic .title a:active, .theme__dark .summary-classic .title a:focus {
    color: rgb(255, 97, 136) !important;
}

.navbar__logo-link {
    margin-right: 25px; /* 在img元素的右侧添加20px的间距 */
}

.theme__dark .gtt {
    color: #BDBDBD;
    background-color: #DA282A;
}


.colorful {
    /* 使用线性渐变函数创建一个从左到右的渐变 */
  /* background: linear-gradient(90deg, #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #0080ff, #0000ff, #8000ff); */
  background: -webkit-linear-gradient(45deg, rgb(229, 183, 81), rgb(22, 119, 179), rgb(204, 85, 149) 80%) 0% 0% / 100% 100%;
  
  /* 将背景剪切以适应文字，使渐变仅应用于文字 */
  -webkit-background-clip: text;
  background-clip: text;
  
  /* 将文字颜色设置为透明，使背景渐变可见 */
  color: transparent;
}

.colorful2 {
  text-shadow: none !important;
  /* 使用线性渐变函数创建一个从左到右的渐变 */
  /* background: linear-gradient(90deg, #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #0080ff, #0000ff, #8000ff); */
  background: -webkit-linear-gradient(45deg, rgb(114, 93, 47), rgb(22, 119, 179), rgb(204, 85, 149)  80%) 0% 0% / 100% 100%;
  
  /* 将背景剪切以适应文字，使渐变仅应用于文字 */
  -webkit-background-clip: text;
  background-clip: text;
  
  /* 将文字颜色设置为透明，使背景渐变可见 */
  color: transparent !important;

}

